@model IndexViewModel

<h2>Messages</h2>

<pre><code id="messages"></code></pre>

@section scripts {
    <script src="~/js/node_modules/reconnecting-eventsource/dist/ReconnectingEventSource.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}
